body {
  background-color: #d9d9d9;
}

#wrapper {
  max-width: 900px;
  max-height: 900 px;
  margin: auto;
  text-align: center;
  background-color: rgb(219, 208, 188);
}

#buttons {
  padding: 50px;
}

#forms {
  padding: 60px 50px 10px;
}

#save {
  margin-right: 20px;
}
